<h1>Booking page</h1>
<ul>
    <form action="/booking" method="POST">
        <li> Date: <input type="date" id="dt" onchange="mydate1();" hidden />
            <input type="text" name="bookingDate" id="ndt" onclick="mydate();" value="{{day}}" /></li>
        <li>Time: <input type="time" name="bookingTime" required></li>

        <li>Book:<select name="job_id" id="jobId" onchange=selectFee()>
                <option value="1111" name="{{service1}}">Lawn mowing</option>
                <option value="1112" name="{{service2}}">Weeding</option>
                <option value="1113" name="{{service3}}">Lawn mowing and weeding</option>
                <option value="1114" name="{{service4}}">Planting</option>
                <option value="1115" name="{{service5}}">Retaining wall</option>
            </select></li>
        <li>Fee<input type="text" id="fee" value="{{service1}}"></li>
        <li><button>Book</button></li>
    </form>
</ul>

<script>

    let fee = document.getElementById('fee')

    function selectFee() {
        if (jobId.value == '1111') {
            fee.value = "{{service1}}"
        }
        else if (jobId.value == '1112') {
            fee.value = "{{service2}}"
        } else if (jobId.value == '1113') {
            fee.value = "{{service3}}"
        } else if (jobId.value == '1114') {
            fee.value = "{{service4}}"
        } else if (jobId.value == '1115') {
            fee.value = "{{service5}}"
        }
    }

    function mydate() {
        document.getElementById("dt").hidden = false;
        document.getElementById("ndt").hidden = true;
    }

    function mydate1() {
        d = new Date(document.getElementById("dt").value);
        dt = d.getDate();
        mn = d.getMonth();
        mn++;
        yy = d.getFullYear();
        document.getElementById("ndt").value = dt + "/" + mn + "/" + yy
        document.getElementById("ndt").hidden = false;
        document.getElementById("dt").hidden = true;
    }

</script>