<h1>ContractWiz</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col" id="day1">{{dates.tomorrow}}</th>
                <th scope="col">{{dates.twodays}}</th>
                <th scope="col">{{dates.threedays}}</th>
                <th scope="col">{{dates.fourdays}}</th>
                <th scope="col">{{dates.fivedays}}</th>
                <th scope="col">{{dates.sixdays}}</th>
                <th scope="col">{{dates.sevendays}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <td>{{weather.weatherTom}}</td>
                <td>{{weather.weatherTwo}}</td>
                <td>{{weather.weatherThree}}</td>
                <td>{{weather.weatherFour}}</td>
                <td>{{weather.weatherFive}}</td>
                <td>{{weather.weatherSix}}</td>
                <td>{{weather.weatherSeven}}</td>
            </tr>
            <form action="/home" method="POST"></form>
            <tr class="table-primary">
                <td>
                    <form action="/home" method="POST"><button name="monday" value="{{tomorrow}}">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="tuesday" value="tuesday">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="wednesday" value="wednesday">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="thursday" value="thursday">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="friday" value="friday">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="saturday" value="saturday">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="sunday" value="sunday">Book</button></form>
                </td>
            </tr>
            </form>
        </tbody>
    </table>
</div>

{{!-- //Samoa --}}