<h1>ContractWiz</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col" id="day1">{{displayDates.displayTomorrow}}</th>
                <th scope="col">{{displayDates.displayTwodays}}</th>
                <th scope="col">{{displayDates.displayThreedays}}</th>
                <th scope="col">{{displayDates.displayFourdays}}</th>
                <th scope="col">{{displayDates.displayFivedays}}</th>
                <th scope="col">{{displayDates.displaySixdays}}</th>
                <th scope="col">{{displayDates.displaySevendays}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <td>{{weather.weatherTom}} <br>Max temp: {{temp.tempTomHigh}} <br>Min temp:{{temp.tempTomLow}}</td>
                <td>{{weather.weatherTwo}} <br> Max temp: {{temp.tempTwoHigh}}<br>Min temp:{{temp.tempTwoLow}}</td>
                <td>{{weather.weatherThree}} <br>Max temp: {{temp.tempThreeHigh}}<br>Min temp:{{temp.tempThreeLow}}</td>
                <td>{{weather.weatherFour}} <br>Max temp: {{temp.tempFourHigh}}<br>Min temp:{{temp.tempFourLow}}</td>
                <td>{{weather.weatherFive}} <br>Max temp: {{temp.tempFiveHigh}}<br>Min temp:{{temp.tempFiveLow}}</td>
                <td>{{weather.weatherSix}} <br>Max temp: {{temp.tempSixHigh}}<br>Min temp:{{temp.tempSixLow}}</td>
                <td>{{weather.weatherSeven}} <br>Max temp: {{temp.tempSevenHigh}}<br>Min temp:{{temp.tempSevenLow}}</td>
            </tr>
            <form action="/book" method="POST"></form>
            <tr class="table-primary">
                <td>
                    <form action="/book" method="POST"><button name="day" value="{{dates.tomorrow}}">Book</button>
                    </form>
                </td>
                <td>
                    <form action="/book" method="POST"><button name="day" value="{{dates.twodays}}">Book</button>
                    </form>
                </td>
                <td>
                    <form action="/book" method="POST"><button name="day" value="{{dates.threedays}}">Book</button>
                    </form>
                </td>
                <td>
                    <form action="/book" method="POST"><button name="day" value="{{dates.fourdays}}">Book</button>
                    </form>
                </td>
                <td>
                    <form action="/book" method="POST"><button name="day" value="{{dates.fivedays}}">Book</button>
                    </form>
                </td>
                <td>
                    <form action="/book" method="POST"><button name="day" value="{{dates.sixdays}}">Book</button>
                    </form>
                </td>
                <td>
                    <form action="/book" method="POST"><button name="day" value="{{dates.sevendays}}">Book</button>
                    </form>
                </td>
            </tr>
            </form>
        </tbody>
    </table>
</div>

{{!-- //Samoa --}}